/* ******************************************************
   Main Sections POAP App 
   ****************************************************** */

section > img {
    width: 101%;
    overflow: hidden;
    max-width: none;
    margin:0 0 0 -1%;
}

/* ******************************************************
   Banner
   ****************************************************** */
.banner {
    
    @media (min-width: $bp-m) {
        // margin-top: -7%;
    }

    h1 {
        margin-bottom: 6px;
    }

    p {
        max-width: 600px;
    }

    .subtitle {
        color:$color-secondary;
        @include x-rem(font-size, 20px);
        line-height: 24px;
        max-width: 260px;

        @media (min-width: $bp-m) {
            @include x-rem(font-size, 30px);
            line-height: 32px;
            max-width: 600px;
        }
    }

    .banner-content {
        @media (min-width: $bp-m) {

            top: 100px;
            position: relative;
        }
        @media (min-width: $bp-l) {
            top: 200px;
        }
        .start-box {
            @media (max-width: $bp-sw) {
                display: flex;
                flex-wrap: wrap;
                .description-title {
                    font-size: 1.25rem;
                }
            }

        }

        .apps-link {
            margin-bottom: 20px;
        }
        .store-link {
            img {
                width: 150px;
                &:hover{
                    background-color: #fccdd2;
                    border-radius: 8px;
                }
            }
            
        }
        .telegram-img{
            height: 32px;
        }
    }
}

/* ******************************************************
   FAQS (in main)
   ****************************************************** */
.faqs-container {

    h2{
        text-align: center;
    }

    .container-faqs {
        margin-bottom:24px;

        &:last-child {
            margin:0;
        }

        @media (min-width: $bp-m) {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            margin-bottom: 36px;
            align-items:center;


            &.inverse {
                flex-direction: row-reverse;
            }
        }

        .faq {
            margin-bottom:24px;

            img {
                margin:0 auto;
                display: inherit;
            }

            span {
                margin-bottom:16px;
                @include x-rem(font-size, 14px);
                display: block;
            }

            @media (min-width: $bp-m) {
                margin:0;
                width:45%;
            }

            &:last-child {
                margin:0;
            }

            .disclaimer {
                @include x-rem(font-size, 12px);
                max-width: 400px;
            }
        }
    }
}

.faqs-first {
    margin: 25% 0 0;
    padding-top: 16px;
    background: $bg-color;
    img {
        margin-top: -30%;
    }
    
    @media (min-width: $bp-s) {
        padding-top: 33px;
    }
    @media (min-width: $bp-m) {
        padding-top: 70px;
    }
    @media (min-width: $bp-mw) {
        padding-top: 0;
        margin: -10% 0 0;
        img {
            margin-top: 0;
        }
    }
    @media (min-width: $bp-l) {
        padding-top: 0;
        margin: -5% 0 0;
    }

    .faqs-container {
        padding: 0;
        margin-bottom: 15%;
        margin-top: -10%;

        @media (min-width: $bp-m) {
            padding: 0;
        }
        @media (min-width: $bp-mw) {
            margin-top: 0;
            margin-bottom: -15%!important;
        }
        @media (min-width: $bp-l) {
            margin-bottom: -15%!important;
        }

        .container-faqs {
            @media (min-width: $bp-mw) {
                margin:0;
            }
        }

        .faqs-first-text {
            padding-left: 10%;
            @media (max-width: $bp-m) {
                padding-left: 20%;
            }
        }

        .faq {
            .shield-img {
                margin: 0;
                margin-bottom: 4rem;
            }
        }
    }
}

.faqs-second {
    background-color: $color-fourth;

    .faqs-container{
        background-color: $color-fourth;

        margin: -17% 0 -10%;
        @media (min-width: $bp-m) {
            margin: -17% 0 -10%;
        }
        @media (min-width: $bp-l) {
            margin: -17% 0 -10%;
        }

        padding: 19% 0 0;
        @media (min-width: $bp-m) {
            padding: 20% 0 0;
        }
        @media (min-width: $bp-l) {
            padding: 20% 0 0;

            .container-faqs.inverse {
                align-items: flex-end;
                margin-top: -14%;
            }
        }
        
    }
}

.faqs-third {
    margin: 0 0 0;

    .image-shape {
        top: -1px;
        position: relative;
    }

    .faqs-container{ 
        background-color: $bg-color;
        padding: 8% 0 0;
        margin: -5% 0 -11%;

        @media (min-width: $bp-m) {
            padding: 8% 0 0;
            margin: -5% 0 -11%;
        }
        @media (min-width: $bp-l) {
            margin: -5% 0 -11%;
        }

        .container-faqs.bottom {
            @media (min-width: $bp-m) {
                align-items: flex-start;

            }
            @media (min-width: $bp-l) {
                align-items: flex-end;

            }
        }
        
        .faqs-third-text {
            max-width: 400px;
        }
    }

}

/* ******************************************************
   Cool people
   ****************************************************** */
.cool-people {
    margin:-23% 0 0;

    @media (min-width: $bp-m) {
        margin:-25% 0 0;
    }

    .cool-people-content {
        background-color:$color-primary;
        margin:-5px 0 0 ;
        text-align: center;
        padding:36px 0 0;


        h3 {
            color:$color-invert;
            margin-bottom:8px;
        }

        p {
            color:#FCCDD3;
            @include x-rem(font-size, 20px);
            margin: 0 0 36px;

            @media (min-width: $bp-mw) {
                @include x-rem(font-size, 26px);
            }

        }

        a {
            color:#FCCDD3;
        }
        img {
            max-width: none;
            width: 100%;
        }
    }
}

/* ******************************************************
   Patterns
   ****************************************************** */
.patterns {
    img {
        width: 100%;
        max-width: none;
    }
}

/* ******************************************************
   Who are
   ****************************************************** */
.who-are {
    padding:36px 0 0;

    @media (min-width: $bp-m) {
        padding:84px 0 0;
    }
    
    
    .container-who {
        margin-bottom:24px;

        &:last-child {
            margin:0;
        }
        @media (min-width: $bp-m) {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            margin-bottom: 36px;

            &:last-child {
                align-items:center;
            }
        }

        .info-who {
            margin-bottom:24px;

            @media (min-width: $bp-m) {
                margin:0;
                width:45%;
            }

            &:last-child {
                margin:0;
            }
        }

    }
}

/* ******************************************************
   Back to the future
   ****************************************************** */
.backtofuture {

    @media (min-width: $bp-mw) {
        margin: -50px 0 0;
    }
    @media (min-width: $bp-l) {
        margin: -60px 0 0;
    }
    
    .backtofuture-content {
        padding:24px 0 0;
        margin:-3px 0 0 0;

        background-image:url('../images/backtofuture.svg');
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center bottom;
        background-color:#F9879A;
        height: 520px;

        @media (min-width: $bp-mw) {
            height: 740px;
            padding:0;
        }
        @media (min-width: $bp-l) {
            background-size:contain;
            background-position:center 55%;
            height: 800px;
            margin-top:-30px;
        }

    }
    
    h3 {
        text-align: center;
        color:$color-invert;
        font-weight: $fontWeight-medium;
        @include x-rem(font-size, 24px);

        @media (min-width: $bp-mw) {
            @include x-rem(font-size, 30px);
        }
    }

    .globe {
        background-image:url('../images/globe.svg');
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center top;
        width: 280px;
        height: 155px;
        margin:0 auto;

        @media (min-width: $bp-mw) {
            background-image:url('../images/globedesktop.svg');

            width: 310px;
            height: 180px;
        }

        p {
            text-align: center;
            color:$color-invert;
            @include x-rem(font-size, 20px);
            line-height: 26px;
            padding:17px;

            @media (min-width: $bp-mw) {
                padding: 23px 8px;
                @include x-rem(font-size, 26px);
            }
        }
    }
}

/* ******************************************************
   Funny info
   ****************************************************** */
.funny-info {
    margin:-23% 0 0;

    .backtofuture-content {
        background-color:#F2F4F6;
        padding:36px 0 30%;
        margin:-3px 0 0 ;

        @media (min-width: $bp-mw) {
            padding:36px 0 30%;
        }
        @media (min-width: $bp-l) {
            padding:0 0 15%;
        }

        .funny-container {
            display: flex;
            flex-direction: column;
            align-items:center;

            @media (min-width: $bp-m) {
                flex-direction:row;
                align-items:stretch;
                justify-content: space-evenly;
            }

            .item {
                margin: 0 0 36px;
                max-width: 325px;

                &:last-child {
                    margin:0;
                }

                @media (min-width: $bp-m) {
                    margin: 0;
                    padding: 0 12px 0;

                    h3 {
                        max-width:280px;
                    }
                }
            }
        }
    }
}

/* ******************************************************
   Supposed funny
   ****************************************************** */
.supposed-funny {
    margin:-30% 0 0;

    .supposed-funny-content {
        padding: 70px 0 150px;
        text-align: center;
        background-color: $color-fourth;
        margin:-2px 0 0;

        @media (min-width: $bp-mw) {
            padding:130px 0 20%;
        }

        p {
            @include x-rem(font-size, 20px);

            @media (min-width: $bp-mw) {
                @include x-rem(font-size, 26px);
            }
        }
    }
}

.mlogo {
    height: 18px;
    padding-right: 3px;
}

.tombola {
    display: flex;
    justify-content: center;
    align-items: center;

    .hash_tombola {
        font-family: 'Fredoka One', cursive;
        color: $color-secondary;

    }

    h4{
        color:$color-primary;

    }

    .item {
        width: 100%;
        @media (min-width: $bp-mw) {
            width: 70%;
        }
    }
    .title {
        color:$color-secondary;
        font-size: 45px;
        line-height: 24px;
        max-width: 260px;
        padding-bottom: 20px;
        font-family: 'Fredoka One', cursive;
    }
    .tombola-first {
        color:$color-primary;

        font-weight: 400;
        font-size: 1.25rem;
        font-family: "Archivo", sans-serif;
        line-height: 1.75rem;
    }
    .tombola-last {
        font-weight: 400;
        font-size: 1rem;
        font-family: "Archivo", sans-serif;
        line-height: 40px;
        text-align: center;
        color:$color-primary;

    }
    .tombola-action{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .arg {
        &:hover .celeste {
            background-color: #6CACE4;
        }
        &:hover .blanco {
            background-color: #FFF;
        }
        &:hover .oro {
            color: #FFB81C;
        }

    }
    
    
    .wrapper {
        padding: 25px 0px;
        position: relative;
        top: 50%;
        width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
      }
      
      .tweet-text {
        display: flex;
        color: $color-secondary;
        font-size: 1.5rem;
        font-style: italic;
        text-decoration: none;
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
        text-align: center;
        
        &:hover {
          color: #55acee;
          
          .twitter-icon {
            background-color: #55acee;
          }
          
          .left-triangle {
            border-right-color: #55acee;
          }
        }
      }
      
      .icon-wrapper {
        position: relative;
      }
      
      .left-triangle {
        content: '';
        position: absolute;
        top: 15px;
        left: 18px;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 6px 5px 0;
        border-color: transparent #d0d0d0 transparent transparent;
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: ease-in;
      }
      
      .twitter-icon {
        width: 2.5rem;
        height: 2.5rem;
        align-self: center;
        padding: 6px;
        margin-left: 1.5rem;
        background-color: #d0d0d0;
        border-radius: 2px;
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: ease-in;
        
        path {
          fill: #ffffff;
          transition-property: all;
          transition-duration: 0.2s;
          transition-timing-function: ease-in;
        }
      }
      
}

.main-divider {
    background-color: $color-grey;
}

.main-events {
    overflow-x: hidden;
}
