/* ******************************************************
   Main Sections POAP App 
   ****************************************************** */

section > img {
    width: 101%;
    overflow: hidden;
    max-width: none;
    margin:0 0 0 -1%;
}

/* ******************************************************
   Banner
   ****************************************************** */
.banner {
    
    @media (min-width: $bp-m) {
        // margin-top: -7%;
    }

    h1 {
        margin-bottom: 6px;
    }

    p {
        max-width: 600px;
    }

    .subtitle {
        color:$color-secondary;
        @include x-rem(font-size, 20px);
        line-height: 24px;
        max-width: 260px;

        @media (min-width: $bp-m) {
            @include x-rem(font-size, 30px);
            line-height: 32px;
            max-width: 600px;
        }
    }

    .banner-content {
        @media (min-width: $bp-m) {

            top: 100px;
            position: relative;
        }
        @media (min-width: $bp-l) {
            top: 200px;
        }
        .start-box {
            @media (max-width: $bp-sw) {
                display: flex;
                flex-wrap: wrap;
                .description-title {
                    font-size: 1.25rem;
                }
            }

        }

        .apps-link {
            margin-bottom: 20px;
        }
        .store-link {
            img {
                width: 150px;
                &:hover{
                    background-color: #fccdd2;
                    border-radius: 8px;
                }
            }
            
        }
        .telegram-img{
            height: 32px;
        }
    }
}

/* ******************************************************
   FAQS (in main)
   ****************************************************** */
.faqs-container {

    .container-faqs {
        margin-bottom:24px;

        &:last-child {
            margin:0;
        }

        @media (min-width: $bp-m) {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            margin-bottom: 36px;
            align-items:center;


            &.inverse {
                flex-direction: row-reverse;
            }
        }

        .faq {
            margin-bottom:24px;

            img {
                margin:0 auto;
                display: inherit;
            }

            span {
                margin-bottom:16px;
                @include x-rem(font-size, 14px);
                display: block;
            }

            @media (min-width: $bp-m) {
                margin:0;
                width:45%;
            }

            &:last-child {
                margin:0;
            }

            .disclaimer {
                @include x-rem(font-size, 12px);
                max-width: 400px;
            }
        }
    }
}

.faqs-first {
    margin: 25% 0 0;
    padding-top: 16px;
    background: $grayscale0;
    img {
        margin-top: -30%;
    }
    
    @media (min-width: $bp-s) {
        padding-top: 33px;
    }
    @media (min-width: $bp-m) {
        padding-top: 70px;
    }
    @media (min-width: $bp-mw) {
        padding-top: 0;
        margin: -10% 0 0;
        img {
            margin-top: 0;
        }
    }
    @media (min-width: $bp-l) {
        padding-top: 0;
        margin: -5% 0 0;
    }

    .faqs-container {
        padding: 0;
        margin-bottom: 15%;
        margin-top: -10%;

        @media (min-width: $bp-m) {
            padding: 0;
        }
        @media (min-width: $bp-mw) {
            margin-top: 0;
            margin-bottom: -15%!important;
        }
        @media (min-width: $bp-l) {
            margin-bottom: -15%!important;
        }

        .container-faqs {
            @media (min-width: $bp-mw) {
                margin:0;
            }
        }

        .faqs-first-text {
            padding-left: 10%;
            @media (max-width: $bp-m) {
                padding-left: 20%;
            }
        }

        .faq {
            .shield-img {
                margin: 0;
                margin-bottom: 4rem;
            }
        }
    }
}

.faqs-second {
    background-color: $color-fourth;

    .faqs-container{
        background-color: $color-fourth;

        margin: -17% 0 -10%;
        @media (min-width: $bp-m) {
            margin: -17% 0 -10%;
        }
        @media (min-width: $bp-l) {
            margin: -17% 0 -10%;
        }

        padding: 19% 0 0;
        @media (min-width: $bp-m) {
            padding: 20% 0 0;
        }
        @media (min-width: $bp-l) {
            padding: 20% 0 0;

            .container-faqs.inverse {
                align-items: flex-end;
                margin-top: -14%;
            }
        }
        
    }
}

.faqs-third {
    margin: 0 0 0;

    .image-shape {
        top: -1px;
        position: relative;
    }

    .faqs-container{ 
        background-color: $grayscale0;
        padding: 8% 0 0;
        margin: -5% 0 -11%;

        @media (min-width: $bp-m) {
            padding: 8% 0 0;
            margin: -5% 0 -11%;
        }
        @media (min-width: $bp-l) {
            margin: -5% 0 -11%;
        }

        .container-faqs.bottom {
            @media (min-width: $bp-m) {
                align-items: flex-start;

            }
            @media (min-width: $bp-l) {
                align-items: flex-end;

            }
        }
        
        .faqs-third-text {
            max-width: 400px;
        }
    }

}

.mlogo {
    height: 18px;
    padding-right: 3px;
}

.main-divider {
    background-color: $grayscale3;
}

.main-events {
    overflow-x: hidden;
}
