@import "fonts";


/* ================================================================
   Boilerplate - Base Styles 
   ================================================================ */

html,
button,
input,
select,
textarea {
    color: $color-base;
}

body {
    font-family: $font-family;
    background: $color-invert;
    font-size:16px; 
    overflow-x: hidden;
    height: 0; // ugly temp fix for extra space (200px) at the bottom caused by the header
}

header, main, footer {
    clear: both;
}

::-moz-selection {
    background: $color-primary;
    color: $color-invert;
    text-shadow: none;
}

::selection {
    background: $color-primary;
    color: $color-invert;
    text-shadow: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    width: auto;
    height: auto;
    max-width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden,
.visually-hidden,
.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    border: 0;
    width: 1px;
    height: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    margin: 0;
    width: auto;
    height: auto;
}

.invisible {
    visibility: hidden;
}

table {
    margin: 1em 0;
    border: 1px solid #ccc;
}

td {
    padding: 0.2em 0.4em;
    border: 1px solid #ccc;
    background: hsl(0, 0%, 90%);
}

tr:nth-child(2n) td {
    background: #fff;
}

/* ================================================================
   Typography Styles
   ================================================================ */

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 $typography-margin-bottom;
    font-family: 'Comfortaa';
    // font-family: $font-family-narrow;
}

h1 {
    @include x-rem(font-size, 40px);
    color:$color-primary;

    @media (min-width: $bp-mw) {
        @include x-rem(font-size, 50px);
    }

}

h2 {
    @include x-rem(font-size, 40px);
    color:$color-primary;
    font-family: 'Comfortaa';
    font-weight: $fontWeight-bold; 
    margin-bottom: 12px;

    @media (min-width: $bp-mw) {
        @include x-rem(font-size, 30px);
    }
}

h3 {
    @include x-rem(font-size, 24px);
    color:$color-primary;
    font-family: 'Comfortaa';
    font-weight: $fontWeight-normal;
    margin-bottom:12px;

    @media (min-width: $bp-mw) {
        @include x-rem(font-size, 30px);
    }
}
h4 {
    @include x-rem(font-size, 16px);
    color:$grayscale4;
    font-family: $font-family;
    font-weight: $fontWeight-bold;
    margin:0; 
    line-height: 20px;

    @media (min-width: $bp-m) {
        @include x-rem(font-size, 18px);
        line-height: 24px;
    }
}

h5 {
    @include x-rem(font-size, 30px);
    color: $grayscale4;
    font-weight: $fontWeight-normal; 

    @media (min-width: $bp-mw) {
        @include x-rem(font-size, 40px);
    }
}


a {
    color: $color-primary;
    text-decoration: none!important;
    font-family: $font-family;

    &:hover,
    &:focus {
        text-decoration: underline!important;
    }
}

p {
    margin: 0 0 $typography-margin-bottom;
    @include x-rem(font-size, 14px);
    color: $grayscale4;
    font-family: $font-family;
    line-height: 23px;
    font-style: normal;
    font-weight: $fontWeight-normal;

    @media (min-width: $bp-mw) {
        @include x-rem(font-size, 16px);
    }

    &:last-child {
        margin:0;
    }

}

ul,
ol {
    margin: 0 0 20px;
    padding: 0 0 0 30px;

    li {
        @include x-rem(font-size, 16px);
        color: $color-base;
        font-family: $font-family;
        margin: 0 0 10px;
    }
}

.button,
.btn,
button {
    display: block;
    margin: 0 auto 20px;
    cursor: pointer; 
    float: left;
    padding: 12px 20px;

    border-radius:40px;

    font-weight: $fontWeight-normal;
    font-family: $font-family-narrow;
    @include x-rem(font-size, 24px);
    border:0;
    text-align: center;
    color: $color-invert;
    text-decoration: none;

    
    background: $color-primary;
    transition: all 0.2s ease-out;

    -webkit-box-shadow: 0px 10px 30px -5px rgba($color-primary, 0.50);
    -moz-box-shadow: 0px 10px 30px -5px rgba($color-primary, 0.50);
    box-shadow: 0px 10px 30px -5px rgba($color-primary, 0.50);

    cursor:pointer;


    &:hover,
    &:focus {
        text-decoration: none;
        background: #683DEE;
    }

    &:active {
        text-decoration: none;
        background: #6534FF;
    }
    &:disabled {
        text-decoration: none;
        background: #CCC4F7;
        color:#E6E7F7;
    }

    &.secondary {
    	color: $color-primary;
    	background: white;
    	margin-left: 1rem;
    }

    span {
        float: left;
        width: 100%;
        margin:0 0 3px 0;

        &:last-child {
            margin:0;
        }
    }
    .small-text {
        @include x-rem(font-size, 16px);
    }

}

.mobile {
    @media (min-width: $bp-m) {
        display: none!important;
    }
}

.desktop {
    display: none!important;
    @media (min-width: $bp-m) {
        display: block!important;
    }
}

.mobilep {
    @media (min-width: $bp-mw) {
        display: none!important;
    }
}

.desktopp {
    display: none!important;
    @media (min-width: $bp-mw) {
        display: block!important;
    }
}

.tabletp {
    display: none;
    @media (min-width: $bp-m) {
        display: block;
    }
    @media (min-width: $bp-mw) {
        display: none;
    }
}

/* ================================================================
   Accordion default values
   ================================================================ */

.collapsing {
    transition: none!important;
}
.accordion {
    &-item {
        min-width: 1300px;
        @media (max-width: $bp-xl) {
            min-width: 900px;
        }
        @media (max-width: $bp-l) {
            min-width: 800px;
        }
        @media (max-width: $bp-mw) {
            min-width: 650px;
        }
        @media (max-width: $bp-m) {
            min-width: 400px;
        }
        @media (max-width: $bp-sw) {
            min-width: 300px;
        }
        @media (max-width: $bp-s) {
            min-width: 200px;
        }
        border: none!important;
        background-color: inherit!important;
        margin-bottom: 10px;
        * {
            box-shadow: none!important;
        }
        .accordion-header {
            display: flex;
            border: 1px solid $color-primary;
            border-radius: 20px;
            .accordion-button {
                background-color: inherit!important;
                &::after {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238492CE'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");                }
                &:not(.collapsed) {
                    h5 {
                        color: $violet2;
                    }
                }
                h5 {
                    margin: 0;
                }
            }
        }
        .accordion-collapse {
            border: none;
        }
        .accordion-body {
            padding-left: 5px;
            p {
                color: $grayscale5;
                padding-left: 1.5rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                border-left: 1px solid #C4CAE8;
                max-width: none;
            }
        }
    }
}
