@font-face {
  font-family: 'Comfortaa';
  src: url('/assets/fonts/Comfortaa-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Noway Round';
  src: url('/assets/fonts/NowayRound-Regular.otf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
