/* ================================================================
   Variables
   ================================================================ */

// Color Variables
$violet1: #9289FF;
$violet2: #8076FA; //h3 h1
$violet3: #7168DE;
$violet4: #B1AFFF;
$violet5: #DDDBFF;

$grayscale6: #4D5680; // text
$grayscale5: #6873A4; // secondary-text
$grayscale4: #8492CE; //h4
$grayscale3: #C4CAE8;
$grayscale2: #D5DCF3;
$grayscale1: #E6EDFE;
$grayscale0: #F1F5FD; // backgrounds

$success-light: #40DD7F;
$error-red: #FB4E4E;
$pink2: #F87588;
$pink5: #FCCDD3;
$white: #FFF;

// Color Variables
$color-base: $grayscale6; //Black
$color-invert: $white;
$color-primary: $violet2; //violet
$color-secondary: $pink2; // rosa text
$color-fourth:#FFEDF0; //rose

// Typography  
$font-family: 'Noway Round', 'Archivo', sans-serif;
$font-family-narrow: 'Archivo Narrow', sans-serif;
 
$fontWeight-normal: 400;
$fontWeight-medium: 500;
$fontWeight-bold: 700;
$typography-margin-bottom: 1em; 
 

// Breakpoints 
// You can convert these at http://pxtoem.com 
$bp-s: 20em; // 320px 
$bp-s-max: 29.938em; // 479px
$bp-sw: 30em; // 480px
$bp-sw-max: 47.938em; // 767px
$bp-m: 48em; // 768px  
$bp-m-max: 59.938em; // 959px
$bp-mw: 60em; // 960px
$bp-mw-max: 71.188em; // 1139px 
$bp-l: 71.25em; // 1140px
$bp-l-max: 81.188em; // 1299px 
$bp-xl: 81.25em; // 1300px  

// Grid
$grid-gutter: 16px;  
$grid-gutter-em: 3em; // Changing grid gutter to em causes a compiling error :/


