@import "globals/fonts";
@import "variables";

.faq-main {
  padding-bottom: 100px;

  .banner {
      background-image: none;
      margin-top: 5%;
      .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          
          width: 100%;
          @media (min-width: $bp-m) {
            width: 400px;
          }
          @media (min-width: $bp-mw) {
            width: 600px;
          }
          @media (min-width: $bp-l) {
            width: 800px;
          }
          
          & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .accordion {
              width: 100%;
              margin-top: 20px;
  
              .accordion-item {
                min-width: 0!important;
              }
            }
          }
          
          .faq-section-title {
            margin-top: 3.5rem;
            font-family: "Comfortaa";
          }
      }

      .faqs-leaves {
        position: absolute;
        left: 0;
        top: 50%;
      }
  }
}

.footer-imgs {
  display: flex;
  flex-direction: column;
  
  .faqs-footer2 {
    width: 20%;
    display: flex;
    align-self: center;
  }
}
